{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <form action="{% url 'newPage' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" id="title" name="title" placeholder="Title">
        <br>
        <label for="content">Content: </label>
        <br>
        <textarea name="content"></textarea>
        <br>
        <input type="submit" value="Create Page" class="btn btn-primary">
    </form>

{% endblock %}